@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-header text-center mb-5">
    <h2 class="text-dark">Welcome</h2>
</div>

<fieldset>
    <legend>Test</legend>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <a class="info-box info-box-anchor">
                <span class="info-box-icon">
                    <img src="~/images/icons/gold-icon.png" alt="today-gold-rate" class="img-fluid" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Gold Rate</span>
                    <span class="info-box-number">Sample text as description</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <a class="info-box info-box-anchor">
                <span class="info-box-icon">
                    <img src="~/images/icons/silver-icon.png" alt="today-silver-rate" class="img-fluid" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Silver Rate</span>
                    <span class="info-box-number">Sample text as description</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <a class="info-box info-box-anchor">
                <span class="info-box-icon">
                    <img src="~/images/icons/population-icon.png" alt="world-population" class="img-fluid" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">World Population</span>
                    <span class="info-box-number">Sample text as description</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <a class="info-box info-box-anchor">
                <span class="info-box-icon">
                    <img src="~/images/icons/currency-icon.png" alt="currency-converter" class="img-fluid" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Currency Converter</span>
                    <span class="info-box-number">Sample text as description</span>
                </div>
            </a>
        </div>
    </div>
</fieldset>

<fieldset class="mt-3">
    <legend>Test</legend>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <a class="info-box info-box-anchor">
                <span class="info-box-icon">
                    <img src="~/images/icons/pdf-icon.png" alt="pdf-to-html-converter" class="img-fluid" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">PDF to HTML Converter</span>
                    <span class="info-box-number">Sample text as description</span>
                </div>
            </a>
        </div>
    </div>
</fieldset>

